[submodule "trees-treap-Nitelike"]
	path = trees-treap-Nitelike
	url = git@github.com:itiviti-cpp-2022/trees-treap-Nitelike.git
[submodule "second-chance-buddy-Nitelike"]
	path = second-chance-buddy-Nitelike
	url = git@github.com:itiviti-cpp-2022/second-chance-buddy-Nitelike.git
